# File Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/node_modules/

# Folder Virtual Environment Python yang kita buat
/venv/

# File log Laravel
/storage/logs/*.log

# File sementara yang kita buat untuk komunikasi PHP-Python
/storage/app/temp/